{# {{ dump(datasheet) }} #}
{% set recordsTotal = datasheet.totalRecordsFiltered %}
{% set recordsPerPage = datasheet.filter('pgn').parameter('recordsPerPage') %}
{% set pagesTotal = (recordsTotal / recordsPerPage)|round(0, 'ceil') %}
{% set currentPage = datasheet.filter('pgn').parameter('currentPage') %}

<div data-datasheet="{{ datasheet.name }}" data-datasheet-filters-key="{{ datasheet.queryKey('datasheet_filters') }}">
    <form action="?" method="GET" data-datasheet-form="{{ datasheet.name }}">
        {% include '@Datasheet/datasheet_filters.html.twig' %}
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
{#        <div class="row">#}
{#            <div class="col-md-10">#}
{#            </div>#}
{#            <div class="col-md-2 text-right">#}
{#                                <input class="form-control btn btn-primary btn-block" type="submit" value="Apply Filters"> #}
{#            </div>#}
{#        </div>#}
        <table class="table table-sm table-striped">
            <thead>
            {% for column in datasheet.columns %}
                <th>{{ column.title }}</th>
            {% endfor %}
            </thead>

            {#            {% include 'datasheet/column_filters.html.twig' %} #}

            {% for record in datasheet.data %}
                <tr>
                    {% for column in datasheet.columns %}
                        <td>
                            {{ column.getContent(record)|raw }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <div>
            <nav>
                <ul class="pagination m-0"
                    data-datasheet-pagination="{{ datasheet.name }}"
                    data-datasheet-pagination-records-total="{{ recordsTotal }}"
                    data-datasheet-pagination-records-per-page="{{ recordsPerPage }}"
                    data-datasheet-pagination-pages-total="{{ pagesTotal }}"
                    data-datasheet-pagination-current-page="{{ currentPage }}"
                >
                </ul>
                <small class="text-muted">
                    Records total: {{ recordsTotal }},
                    Records per page: {{ recordsPerPage }},
                    Pages total: {{ pagesTotal }},
                    Current page: {{ currentPage }}
                </small>
            </nav>
        </div>
    </form>
</div>